@model BrandListViewModel

@{
    ViewBag.Title = "Brand List";
    string padding = "py-3";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">

            <div class="card-header bg-secondary">
                <h4 class="card-title text-white">All Brand List</h4>
            </div>
            <div class="card-body">





                @*show error update create delete export message*@
                <div class="row" id="messagestatus">
                    <div class="col-md-12">
                        <partial name="_Messages" />

                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12">
                        <partial name="_SearchBar" model="Model" />
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <partial name="_ExportData" model="Model" />
                    </div>
                </div>







                <div class="row">
                    <div class="col-md-12">
                        <div asp-validation-summary="All" class="text-danger">

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <partial name="_Messages" />
                    </div>
                </div>

                <div class="row py-1">
                    <div class="col-md-12">
                        <a asp-controller="Brand" asp-action="Create" class="btn pull-right btn-secondary btn-sm"><span> Create Brand <i aria-hidden="true" class="mdi mdi-plus"></i> </span> </a>
                    </div>
                </div>

                @if (Model != null && Model.brandLists.Count > 0)
                {
                    <div class="row bg-blue-dark border divHeaderPart">
                        <div class="col-md-2 text-center">
                            <h5 class="@padding text-white">SL No</h5>
                        </div>
                        <div class="col-md-3 text-center">
                            <h5 class="@padding text-white">Category</h5>
                        </div>
                        <div class="col-md-3 text-center">
                            <h5 class="@padding text-white">Brand</h5>
                        </div>
                        <div class="col-md-4 text-center">
                            <h5 class="@padding text-white">Action</h5>
                        </div>
                    </div>

                    int sl = Model.RowIndex;
                    foreach (var brand in Model.brandLists)
                    {
                        <div class="row py-2 border border-bottom divBodyParent">
                            <div class="col-md-2 text-center">
                                @sl
                            </div>
                            <div class="col-md-3 text-center">
                                @brand.Ctype
                            </div>
                            <div class="col-md-3 text-center">
                                @brand.brandName
                            </div>
                            <div class="col-md-4 text-center">

                                <div class="row">
                                    <div class="col-md-6">
                                        <a asp-action="Edit" asp-controller="Brand" asp-route-id="@brand.brandId" class="btn btn-xs btn-block btn-outline-secondary"> Edit   <span class="btn-icon-right"> <i class="mdi mdi-pencil"></i></span></a>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" id="deleteBrandButton_@brand.brandId" onclick="NotifyDiv(@brand.brandId)" class="btn btn-block btn-xs btn-outline-danger">Delete <span class="btn-icon-right"> <i class="mdi mdi-delete"></i></span></button>
                                    </div>
                                </div>


                                @*Yes No div Section Bind with javascript*@
                                <div class="row mt-3" id="showDeleteBrandDiv_@brand.brandId" style="display:none">
                                    <div class="col-md-12">
                                        <p>Do You Want To Delete <strong>'@brand.brandName'</strong></p>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <form method="post" asp-controller="Brand" asp-action="Delete" asp-route-id="@brand.brandId">
                                                    <button type="submit" class="btn-block btn btn-sm btn-danger"><span>Yes <i class="mdi mdi-delete"></i></span></button>
                                                </form>
                                            </div>

                                            <div class="col-md-6">

                                                <button type="button" id="cancelDeleteBrand_@brand.brandId" onclick="CancelDelete(@brand.brandId)" class="btn-block btn btn-sm btn-info"><span>No <i class="mdi mdi-arrow-left-bold"></i></span></button>


                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>

                        sl = sl + 1;
                    }
                }
                else
                {
                    <h3>No Brand Available</h3>
                }

                <partial name="~/Views/Shared/Pagination/_PaginationPage.cshtml" model="Model" />




            </div>
            <div class="card-footer bg-secondary">

            </div>

        </div>

    </div>
</div>




@section Scripts
{
    <script>
        function NotifyDiv(id) {
            $("#showDeleteBrandDiv_" + id).css("display", "block");
            $("#deleteBrandButton_" + id).prop("disabled", true);

        }

        function CancelDelete(id) {
            $("#showDeleteBrandDiv_" + id).css("display", "none");
            $("#deleteBrandButton_" + id).prop("disabled", false);
        }


        $(document).ready(function () {

            //_Message.cshtml Partial Razor Page Hide
            setTimeout(function () {
                $("#messagestatus").fadeOut(8000)
            }, 1000)

        })
    </script>
}

