@model ProductListViewModel
@{
    string photopath = (Model.PhotoPath != null && Model.PhotoPath != "") ? "~/" + ImagePath.GetProductImagePath(Model.PhotoPath) : "~/" + ImagePath.GetDefaultImagePath("No_Image_Available.jpg");
    //string price = Model.DiscountPrice > 0 ? "<del>" + Model.Unitprice.ToString() + "</del>" + Model.DiscountPrice.ToString() : Model.Unitprice.ToString();
    string collabel = "col-md-4 offset-md-1";
    string colinput = "col-md-7";
}
<div class="modal fade bd-example-modal-lg" id="Modal_Product_Details_@Model.Id" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h3 class="modal-title text-white">Product Details</h3>
                <button type="button" class="close text-white" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body lefttext">

                <div class="row p-1 border">
                    <h5 class="col-md-12 px-3 py-1 bg-info">Product information</h5>

                    <div class="row">

                        <div class="col-md-7 border">
                            <div class="row">

                                <div class="@collabel">
                                    <label asp-for="Category">Category</label>
                                </div>
                                <div class="@colinput">
                                    <h5>@Model.Category</h5>
                                </div>
                            </div>
                            @*end ROW*@

                            <div class="row">
                                <div class="@collabel">
                                    <label asp-for="BrandName">Brand</label>
                                </div>
                                <div class="@colinput">
                                    <h5>@Model.BrandName</h5>
                                </div>

                            </div>
                            <div class="row">
                                <div class="@collabel">
                                    <label asp-for="ModelName">Model</label>
                                </div>
                                <div class="@colinput">
                                    <h5>@Model.ModelName</h5>
                                </div>
                            </div>





                            <div class="row">
                                <div class="@collabel">
                                    <label asp-for="Unitprice">Sell price</label>
                                </div>

                                <div class="@colinput">
                                    @if (Model.DiscountPrice > 0)
                                    {
                                        <h5><del>@Model.Unitprice</del> <span class="badge badge-secondary">Discount Price @(Model.Unitprice-Model.DiscountPrice) /- </span></h5>
                                    }

                                    else
                                    {
                                        <h5>@Model.Unitprice /-</h5>
                                    }
                                </div>
                            </div>

                            <div class="row">
                                <div class="@collabel">
                                    <label asp-for="Unitprice">Dicount Offer</label>
                                </div>
                                <div class="@colinput">
                                    <h5>@Model.DiscountPrice</h5>
                                </div>
                            </div>


                            <div class="row">
                                <div class="@collabel">
                                    <label asp-for="OpeningBalance">Balance</label>
                                </div>
                                <div class="@colinput">
                                    <h5>@Model.OpeningBalance</h5>
                                </div>
                            </div>

                            <div class="row">
                                <div class="@collabel">
                                    <label asp-for="OpeningQty">Opening Stock</label>
                                </div>
                                <div class="@colinput">
                                    <h5>@Model.OpeningQty</h5>
                                </div>
                            </div>


                            <div class="row">
                                <div class="@collabel">
                                    <label asp-for="Color">Product Color</label>
                                </div>
                                <div class="@colinput">
                                    <h5>@Model.Color</h5>
                                </div>
                            </div>

                            <div class="row">
                                <div class="@collabel">
                                    <label asp-for="SizeName">Product Size</label>
                                </div>
                                <div class="@colinput">
                                    <h5>@Model.SizeName</h5>
                                </div>
                            </div>

                            <div class="row">
                                <div class="@collabel">
                                    <label asp-for="SizeType">(Size/Dimension) </label>
                                </div>
                                <div class="@colinput">
                                    <h5>@(Model.SizeName=="1" ? "Size" : "Dimension")</h5>
                                </div>
                            </div>

                            <div class="row">
                                <div class="@collabel">
                                    <label asp-for="VendorName">Vendor</label>
                                </div>
                                <div class="@colinput">
                                    <h5>@Model.VendorName</h5>
                                </div>
                            </div>

                            <div class="row">
                                <div class="@collabel">
                                    <label asp-for="ManufactureName">Manufacture</label>
                                </div>
                                <div class="@colinput">
                                    <h5>@Model.ManufactureName</h5>
                                </div>
                            </div>

                            <div class="row">
                                <div class="@collabel">
                                    <label asp-for="BinNo">Bin</label>
                                </div>
                                <div class="@colinput">
                                    <h5>@Model.BinNo</h5>
                                </div>
                            </div>




                            <div class="row">
                                <div class="@collabel">
                                    <label asp-for="Remarks">Remarks</label>
                                </div>
                                <div class="@colinput">
                                    <h5>@Model.Remarks</h5>
                                </div>
                            </div>


                        </div>
                        @*end col-md-6*@

                            <div class="col-md-5 img-thumbnail card-img-top">
                                <img class="img-fluid imglarge" src="@photopath" asp-append-version="true" alt="No Image" />
                            </div>
                    </div>
                    @*end row*@


                </div>  @*end Main 1st Row*@

                @*end Category, Brand, Model, Remarks, Image DiscountPrice*@


                @*Tab Section*@
            <section>



                <div class="custom-tab-1">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home_@Model.Id"><i class="la la-home mr-2"></i> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#profile_@Model.Id"><i class="la la-user mr-2"></i> Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#contact_@Model.Id"><i class="la la-phone mr-2"></i>  Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#message_@Model.Id"><i class="la la-envelope mr-2"></i> Message</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="home_@Model.Id" role="tabpanel">
                            <div class="pt-4">
                                <h4>This is home title</h4>
                                <p>
                                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
                                </p>
                                <p>
                                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile_@Model.Id">
                            <div class="pt-4">
                                <h4>This is profile title</h4>
                                <p>
                                    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.
                                </p>
                                <p>
                                    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact_@Model.Id">
                            <div class="pt-4">
                                <h4>This is contact title</h4>
                                <p>
                                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
                                </p>
                                <p>
                                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="message_@Model.Id">
                            <div class="pt-4">
                                <h4>This is message title</h4>
                                <p>
                                    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.
                                </p>
                                <p>
                                    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </section>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





