@model ManufactureListViewModel

@{
    ViewBag.Title = "List Manufacture";
    ViewData["ShowButton"] = false;
    int sl = Model.RowIndex;
    bool showbutton = (bool)ViewData["ShowButton"];
}






@*<div class="col-lg-12">
    <div class="card">
        <div class="card-header">*@
            <h4 class="card-title">Manufactures List</h4>
        @*</div>
        <div class="card-body">*@

            <div class="row">
                <div class="col-md-12">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <partial name="_Messages" />

                </div>
            </div>

            @*<partial name="~/Views/Shared/Manufacture/_ManufactureList.cshtml" model="Model" view-data="ViewData" />*@



            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="bg-danger text-white">
                        <tr>
                            <th style="width:80px;"><strong>SL</strong></th>
                            <th><strong>Name</strong></th>
                            @if (showbutton)
                            {
                                <th colspan="2"><strong>Action</strong></th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var manu in Model.manufactures)
                        {
                            <tr>
                                <td>@sl</td>
                                <td>@manu.ManufactureName</td>

                                @if (showbutton)
                                {
                                    <td><button class="btn btn-block btn-xs btn-outline-secondary edit_manufacture" data-id="@manu.Id" data-Manufacture="@manu.ManufactureName" data-toggle="modal" data-target="#edit_manufacture">Edit</button></td>
                                    <td>
                                        <button class="btn btn-block btn-xs btn-outline-danger delete_manufacture" data-id="@manu.Id" data-Manufacture="@manu.ManufactureName" data-toggle="modal" data-target="#delete_manufacture">Delete</button>
                                        @*<span id="manshow @manu.Manuid">
                                    <span>Do You Wanto Delete</span>
                                    <button type="submit" class="btn btn-danger btn-sm">Yes</button>
                                    <a asp-action="ListManufactures" asp-controller="Manufacture" class="btn btn-primary btn-sm">Cancel</a>
                                    </span>*@
                                    </td>
                                }
                            </tr>
                            sl = sl + 1;
                        }

                    </tbody>
                </table>
            </div>

            <partial name="~/Views/Shared/Pagination/_PaginationPage.cshtml" model="Model" />



        @*</div>
    </div>
</div>*@














<!--@section Scripts
{-->
<!--<script>


    $(document).ready(function()
    {
    $.ajax({
    url:'@Url.Action("LoadList", "Manufacture")',
    method:"GET",
    dataType:"json",
        success: function (data) {

            $('#example').DataTable({
    data:data, columns:[{'data':'ManufactureName'}]
    })


            alert("ok")
    }
    })
    })
    </script>
}-->
