@model SaleCreateViewModel
@{
    ViewBag.Title = "Create New Sele";
    string margin = "mt-1";
}


<div class="row border bg-info-light">
  

    <div class="col-md-12">
        <h5 class="row py-2 pl-3 text-white bg-blue-dark ">
            Customer Information
        </h5>

        <div class="row p-1 @margin">
            <div class="col-md-12 mb-4">
                <div class="row">
                    <div class="col-md-2">
                        <label>Search Contact</label>
                    </div>
                    <div class="col-md-10">
                        <input id="searchcontact" class="form-control" placeholder="Search Contact No" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <label asp-for="@Model.customer.CustName"></label>
            </div>
            <div class="col-md-5">
                @*<label asp-for="CustName"></label>*@

                <input class="form-control" asp-for="@Model.customer.CustName"/>
                <span asp-validation-for="@Model.customer.CustName" class="text-danger"></span>
            </div>


            <div class="col-md-1">
            <label asp-for="@Model.customer.Contact"></label>
        </div>
            <div class="col-md-4">
                @*<label asp-for="Contact"></label>*@
                
                <input hidden asp-for="@Model.customer.ID" />
                                
                <input class="form-control" asp-for="@Model.customer.Contact"/>
                <span asp-validation-for="@Model.customer.Contact" class="text-danger"></span>

            </div>

        </div>


        <div class="row @margin">
            <div class="col-md-2">
                <label asp-for="@Model.customer.Address"></label>
            </div>
            <div class="col-md-10">
                @*<label asp-for="Address"></label>*@

                <input class="form-control" asp-for="@Model.customer.Address"/>
            </div>
        </div>



    </div>
</div>