@model CategoryListViewModel
@{
    ViewBag.Title = "Category List";
    CategoryEditViewModel categoryEditViewModel = new CategoryEditViewModel();
    //CategoryDeleteViewModel categoryDeleteViewModel = new CategoryDeleteViewModel();
    string actionname = "categoryList";
    string controllername = "category";

    int previouspage = Model.PrevousPage;
    int nextpage = Model.NextPage;
    int pagesize = Model.PageSize;

    ViewData["controllername"] = controllername;
    ViewData["actionname"] = actionname;
    //ViewData["previouspage"] = previouspage;
    //ViewData["nextpage"] = nextpage;
    //ViewData["pagesize"] = pagesize;




}




<div class="card">
    <div class="card-header bg-secondary">
        <h1 class="card-title text-white">Category List</h1>

    </div>
    <div class="card-body">


        @*show error update create delete export message*@
        <div class="row" id="messagestatus">
            <div class="col-md-12">
                <partial name="_Messages" />

            </div>
        </div>



        <div class="row">
            <div class="col-md-12">
                <partial name="_SearchBar" model="Model" />
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <partial name="_ExportData" model="Model" />
            </div>
        </div>




        <div class="row py-1">
            <div class="col-md-12">
                <a asp-controller="Category" asp-action="Create" class="btn pull-right btn-secondary btn-sm"><span> Create Category <i aria-hidden="true" class="mdi mdi-plus"></i> </span> </a>
            </div>
        </div>

        @if (Model.categories.Count > 0)
        {

            <div class="row border-secondary bg-info">
                <!--<div class="col-md-6">-->@*  *@
                <h5 class="col-md-6 text-white py-2">SL No</h5>
                @*</div>
                <div class="col-md-6">*@
                <h5 class="col-md-6 text-white  py-2">Name</h5>
                @*</div>*@
                @*<div class="col-md-4">
                    <h5 class="text-white">Action</h5>
                </div>*@
            </div>

            int sl = Model.RowIndex;

            @foreach (var cat in Model.categories)
            {
                <div class="row border-bottom py-2">

                    <div class="col-md-6">
                        @sl
                    </div>
                    <div class="col-md-6">
                        <strong>@cat.CType</strong>
                    </div>
                    <!--<div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-outline-secondary btn-xs edit_category" data-id="@cat.Id" data-ctype="@cat.CType" data-toggle="modal" data-target="#edit_category">Edit <span class="btn-icon-right"> <i class="mdi mdi-pencil"></i></span></button>
                        </div>
                        <div class="col-md-6">
                            <button id="deleteCategoryButton_@cat.Id" onclick="showButton(@cat.Id)" class="btn btn-outline-danger btn-xs show_delete_category">Delete <span class="btn-icon-right"><i class="mdi mdi-delete"></i></span></button>
                        </div>
                    </div>-->
                    @*Yes No div Section Bind with javascript*@
                    <!--<div class="row mt-3" id="showDeleteCategoryDiv_@cat.Id" style="display:none">
                        <div class="col-md-12">
                            <p>Do You Want To Delete <strong>'@cat.CType'</strong></p>
                            <div class="row">
                                <div class="col-md-6">
                                    <form method="post" asp-controller="Category" asp-action="Delete" asp-route-id="@cat.Id">
                                        <button type="submit" class="btn-block btn btn-sm btn-danger"><span>Yes <i class="mdi mdi-delete"></i></span></button>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" id="cancelDeleteBrand_@cat.Id" onclick="CancelDelete(@cat.Id)" class="btn-block btn btn-sm btn-info"><span>No <i class="mdi mdi-arrow-left-bold"></i></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                </div>
                sl = sl + 1;
            }
        }
        else
        {
            <h3 class="card-title">No Category Available</h3>
        }





    </div>
    <div class="card-footer">

    </div>
</div>

@*@Html.Partial("~/Views/Shared/Pagination/_PaginagionHeader.cshtml",Model, "ViewData")*@
<partial name="~/Views/Shared/Pagination/_PaginationPage.cshtml" model="Model" view-data="ViewData" />

<form method="post" asp-action="Edit" asp-controller="Category">
    <partial name="~/Views\Shared\Category\_EditCategory.cshtml" model="categoryEditViewModel" />
</form>





@*<form method="post" asp-action="Delete" asp-controller="Category">
        <partial name="~/Views\Shared\Category\_DeleteCategory.cshtml" model="categoryDeleteViewModel" />
    </form>*@




@section Scripts
{
    <script src="~/Projects/Public/GlobalFunction.js"></script>

    <script>

        //javascript code

        function showButton(id) {
            $("#showDeleteCategoryDiv_" + id).css("display", "block");
            $("#deleteCategoryButton_" + id).prop("disabled", true);

        }

        function CancelDelete(id) {
            $("#showDeleteCategoryDiv_" + id).css("display", "none");
            $("#deleteCategoryButton_" + id).prop("disabled", false);
        }


        //Jquery code
        $(document).ready(function () {

            //_Message.cshtml Partial Razor Page Hide
            setTimeout(function () {
                $("#messagestatus").fadeOut(8000)
            }, 1000)


            //if Delete Brand checkbox click
            $(".delete_category_check").change(function () {

                var blnflag = $(this).is(":checked");

                if (blnflag == true) {

                    $("#show_hide_message").show();
                } else {
                    $("#show_hide_message").hide();

                }


            })



            $(".edit_category").click(function () {

                //pass_modal_value(this,".edit_id",".edit_category")
                try {
                    var ele = {
                        'id': $(this).attr("data-id"),
                        'name': $(this).attr("data-ctype")
                    }


                    $(".edit_ctype").val(ele.name);
                    $(".edit_category_id").val(ele.id);

                }
                catch (ex) {
                    alert(ex.message);
                }

            })


            //$(".show_delete_category").click(function () {
            //    var ele = {
            //        'id': $(this).attr("data-id"),
            //        'name': $(this).attr("data-ctype")
            //    }


            //    $(".delete_category_ctype").val(ele.name);
            //    $(".delete_category_id").val(ele.id);

            //})
        })
    </script>
}