@model BasePaginate


@{
    var controllername = ViewData["controllername"];
    var actionname = ViewData["actionname"];
    //var previouspage = ViewData["previouspage"];
    //var pagesize = ViewData["pagesize"];

    //var nextpage = ViewData["nextpage"];
    //   = controllername;
    //    = actionname;
    //   = previouspage;
    //   ViewData["nextpage"] = nextpage;
    //= pagesize;
}


@if (Model.TotalPage > 1) {
<nav class="mt-3">
    <ul class="pagination  @( Model.TotalPage>3? "pagination-sm":"")  pagination-danger">
        @*<ul class="pagination pagination-circle">*@
        <li class="page-item page-indicator">
            <a class="page-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-pageno="@Model.FirstPage" asp-route-pagesize="@Model.PageSize" title="First Page">
                <i class="la la-angle-double-left"></i>
            </a>
        </li>
        <li class="page-item page-indicator">
            <a class="page-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-pageno="@Model.PrevousPage" asp-route-pagesize="@Model.PageSize" title="Previous">
                <i class="la la-angle-left"></i>
            </a>
        </li>
        @{ for (int sl = Model.StartPageNo; sl <= Model.EndPageNo; sl++)
            {
                <li class="page-item @(sl==@Model.PageIndex ? "active":"")">
                    <a class="page-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-pageno="@sl" asp-route-pagesize="@Model.PageSize" title="@sl">@sl</a>
                </li>
            }}

        <li class="page-item page-indicator">
            <a class="page-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-pageno="@Model.NextPage" asp-route-pagesize="@Model.PageSize" title="Next">
                <i class="la la-angle-right"></i>
            </a>
        </li>

        <li class="page-item page-indicator">
            <a class="page-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-pageno="@Model.LastPage" asp-route-pagesize="@Model.PageSize" title="Last Page">
                <i class="la la-angle-double-right"></i>
            </a>
        </li>
    </ul>

</nav>
}