@model SaleCreateViewModel
@{
    ViewBag.Title = "Create New Sele";
    string margin = "mt-1";
}


<div class="card">
    <div class="card-header">

    </div>
    <div class="card-body">
        <div class="row border">
            <div class="col-md-12 bg-danger-light">
                @Html.Partial("~/Views/Shared/sales/_SaleDetails.cshtml", Model);

            </div>
            <div class="col-md-12 @margin">
                @Html.Partial("~/Views/Shared/sales/_CustomerInformation.cshtml", Model);
            </div>

            <div class="col-md-12 @margin bg-success-light">
                <h5 class="row py-2 px-3 bg-blue-dark text-white">Product Add</h5>

                @Html.Partial("~/Views/Shared/sales/_SalesProductDetails.cshtml", Model);

            </div>

            <div class="col-md-12 @margin bg-primary-light">
                <h5 class="row py-2 px-3 bg-blue-dark text-white">Bill Information</h5>

                @Html.Partial("~/Views/Shared/sales/_SalesPriceDetails.cshtml", Model);

            </div>

        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-xs btn-facebook">Create<span><i class="mdi mdi-plus"></i></span></button>
            </div>
        </div>
    </div>
</div>




@section Scripts{ 
    <script src="~/DuplicateModelShow.js"></script>
    <script src="~/ProductAddRemove.js"></script>
    <script src="~/Amount.js"></script>
    <script>
    $(document).ready(function () {

        //BranchTableList
       // getlist();

        //$("#TrDate").datepicker();
        //$("#branchname").select2()
        
        callBranchListOnFormLoad('@Url.Action("GetAjaxBranchList","Branch")');
        callPaymentTypeListOnFormLoad('@Url.Action("GetAjaxPaymentTypeList", "PaymentType")');

        //function getlist() {
        //    alert("Welcome to GetList Branch");
        //}



        $("#Invoice").keydown(function (event) {
            let keyCode = event.keyCode ? event.keyCode : event.which

            //if ($(this).length <= 9)
            //{
                event.preventDefault();
            //}


        })

        // end of #invoice keydown event


        $("#Invoice").keypress(function (event) {
            let keyCode = event.keyCode ? event.keyCode : event.which

            if ($(this).length <= 9) {
                event.preventDefault();
            }


        })
    })
    </script>
}
