@model ProductCreateViewModel

@{
    ViewBag.Title = "Create Product";
 }


<style>
    .img-fluid{
        height:200px!important;
    }
</style>


<form method="post" asp-controller="Product" asp-action="Create" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header bg-secondary">
            <h3 class="card-title text-white">Create Product</h3>
        </div>
        <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="text-danger" asp-validation-summary="All"></div>
            </div>
        </div>

        <partial name="_Messages" />

        @*<div class="card">
            <div class="card-header bg-gray-dark">
                <h4 class="card-title text-white">Product Information</h4>
            </div>
            <div class="card-body">

            </div>
        </div>*@

            <div class="row">
              

                <div class="col-md-6">
                    <div class="row">
                        @*Category section*@
                        <div class="col-md-3 mt-2">
                            <label asp-for="@Model.Categories" class="col-form-label"></label>
                        </div>
                        <div class="col-md-9 mt-2">
                            <select  class="form-control single-select find_Category" asp-items="@Model.Categories">
                                <option  selected="selected">Select Category</option>
                            </select>
                        </div>


                        @*brand section*@
                        <div class="col-md-3 mt-2">
                            <label for="#Brands" class="col-form-label">Brand</label>
                        </div>
                        <div class="col-md-9 mt-2">
                            <select class="form-control single-select find_Brand">
                                <option selected="selected">Select Brand</option>
                            </select>
                        </div>






                        @*Model section*@
                        <div class="col-md-3 mt-2">
                            <label asp-for="@Model.ModelId" class="col-form-label"></label>
                        </div>
                        <div class="col-md-9 mt-2">
                            <select asp-for="@Model.ModelId" class="form-control single-select find_Model">
                                <option value="" >Select Model</option>
                            </select>
                        </div>



                        @*Code section*@
                        <div class="col-md-3 mt-2">
                            <label asp-for="@Model.Code" class="col-form-label"></label>
                        </div>
                        <div class="col-md-9 mt-2">
                            <input class="form-control" asp-for="@Model.Code" />
                            <span class="text-danger" asp-validation-for="@Model.Code"></span>
                        </div>



                        @*Description section*@
                        <div class="col-md-3 mt-2">
                            <label asp-for="@Model.Description" class="col-form-label"></label>
                        </div>
                        <div class="col-md-9 mt-2">
                            <input class="form-control" asp-for="@Model.Description" />
                            <span class="text-danger" asp-validation-for="@Model.Description"></span>
                        </div>


                        @*Description section*@
                        <!--<div class="col-md-3 mt-2">
                            <label asp-for="@Model.Description" class="col-form-label"></label>
                        </div>
                        <div class="col-md-9 mt-2">
                            <input class="form-control" asp-for="@Model.Description" />
                            <span class="text-danger" asp-validation-for="@Model.Description"></span>
                        </div>-->


                        @*Color section*@
                        <div class="col-md-3 mt-2">
                            <label asp-for="@Model.Color" class="col-form-label"></label>
                        </div>
                        <div class="col-md-9 mt-2">
                            <div class="input-group">
                                <select asp-for="@Model.Color" class="form-control single-select">
                                    <option value="" >Select Color</option>
                                    <option value="Red">Red</option>
                                    <option value="Black">Black</option>
                                    <option value="Green">Green</option>
                                </select>
                                <button class="btn btn-xs btn-facebook" title="Add New Color"><span><i class="mdi mdi-plus"></i></span></button>
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.Color"></span>
                        </div>

                        @*Size section*@
                        <div class="col-md-3 mt-2">
                            <label asp-for="@Model.Size" class="col-form-label"></label>
                        </div>
                        <div class="col-md-9 mt-2">
                            <div class="form-group">
                                <label class="radio-inline mr-2"><input class="size_value" asp-for="@Model.SizeType" value="1" type="radio" /> Size</label>
                                <label class="radio-inline mr-2"><input class="size_value" asp-for="@Model.SizeType" value="2" type="radio" /> Dimension</label>
                            </div>
                            <div class="input-group">
                                <select asp-for="@Model.Size" class="form-control single-select find_Size">
                                    <option value="">Select Size</option>
                                </select>
                                <button class="btn btn-facebook btn-xs" title="Add New Size"><span><i class="mdi mdi-plus"></i></span></button>
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.Size"></span>
                        </div>

                        @*Unit Price section*@
                        <div class="col-md-3 mt-2">
                            <label asp-for="@Model.Unitprice" class="col-form-label"></label>
                        </div>
                        <div class="col-md-9 mt-2">
                            <input class="form-control" asp-for="@Model.Unitprice" />
                            <span class="text-danger" asp-validation-for="@Model.Unitprice"></span>
                        </div>


                        @*Remarks section*@
                        <div class="col-md-3 mt-2">
                            <label asp-for="@Model.Remarks" class="col-form-label"></label>
                        </div>
                        <div class="col-md-9 mt-2">
                            <textarea asp-for="@Model.Remarks" class="form-control" cols="50" rows="5"></textarea>
                        </div>

                    </div> @*end of row*@
                </div> @*end of col-md-6*@


                <div class="col-md-6">
                    <div class="row">

                        @*Discount Price section*@
                        <div class="col-md-3 mt-2">
                            <label asp-for="@Model.DiscountPrice" class="col-form-label"></label>
                        </div>
                        <div class="col-md-9 mt-2">
                            <input class="form-control" asp-for="@Model.DiscountPrice" />
                            <span class="text-danger" asp-validation-for="@Model.DiscountPrice"></span>
                        </div>



                        @*Opening Balance section*@
                        <div class="col-md-3 mt-2">
                            <label asp-for="@Model.OpeningBalance" class="col-form-label"></label>
                        </div>
                        <div class="col-md-9 mt-2">
                            <input class="form-control" asp-for="@Model.OpeningBalance" />
                            <span class="text-danger" asp-validation-for="@Model.OpeningBalance"></span>
                        </div>








                        @*Opening Qty section*@
                        <div class="col-md-3 mt-2">
                            <label asp-for="@Model.OpeningQty" class="col-form-label"></label>
                        </div>
                        <div class="col-md-9 mt-2">
                            <input class="form-control" asp-for="@Model.OpeningQty" />
                            <span class="text-danger" asp-validation-for="@Model.OpeningQty"></span>
                        </div>




                        @*Vendor section*@
                        <div class="col-md-3 mt-2">
                            <label asp-for="@Model.Vendor" class="col-form-label"></label>
                        </div>
                        <div class="col-md-9 mt-2">
                            <div class="input-group">
                                <select asp-for="@Model.Vendor" class="form-control single-select" asp-items="@Model.Vendors">
                                    <option value="" >Select Vendor</option>
                                </select>
                                <button class="btn btn-xs btn-facebook" title="Add New Vendor"><span><i class="mdi mdi-plus"></i></span></button>
                            </div>

                        </div>




                        @*Manufacture section*@

                        <div class="col-md-3 mt-2">
                            <label asp-for="@Model.Manufacture" class="col-form-label"></label>
                        </div>
                        <div class="col-md-9 mt-2">
                            <div class="input-group">
                                <select asp-for="@Model.Manufacture" class="form-control single-select" asp-items="@Model.Manufactures">
                                    <option value="">Select Manufacture</option>
                                </select>
                                <button class="btn btn-xs btn-facebook" title="Add New Manufacture"><span><i class="mdi mdi-plus"></i></span></button>
                            </div>
                        </div>



                        @*Bin section*@
                        <div class="col-md-3 mt-2">
                            <label asp-for="@Model.Bin" class="col-form-label"></label>
                        </div>
                        <div class="col-md-9 mt-2">
                            <div class="input-group">
                                <select asp-for="@Model.Bin" class="form-control single-select" asp-items="@Model.Bins">
                                    <option value="" >Select Bin</option>
                                    <option value="K-1">K-1</option>
                                    <option value="K-2">K-2</option>
                                    <option value="K-3">K-3</option>
                                    <option value="K-4">K-4</option>
                                    <option value="K-5">K-5</option>
                                    <option value="K-6">K-6</option>
                                    <option value="K-7">K-7</option>

                                </select>
                                <button class="btn btn-xs btn-facebook" title="Add New Bin"><span><i class="mdi mdi-plus"></i></span></button>
                            </div>
                        </div>



                        @*Photo section*@
                        <div class="col-md-3 mt-2">
                            <label asp-for="@Model.Photo" class="col-form-label"></label>
                        </div>
                        <div class="col-md-9 mt-2">
                            <div class="custom-file">
                                <input asp-for="@Model.Photo" class="custom-file-input" />
                                <label class="custom-file-label">Choose File....</label>
                            </div>
                            <img id="productImage" src="~/Projects/Images/DefaultImage/No_Image_Available.jpg" asp-append-version="true" class="card-img-bottom img-fluid" alt="Image" />
                        </div>


                   


                    </div> @*End row section*@
                </div> @*End col-md-6 section*@

            </div>  @*End row section*@
        </div> @*End card-body section*@
        <div class="card-footer">
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-whatsapp bt-xs">Create <span class="btn-icon-right"><i class="mdi mdi-plus"></i></span></button>
                    <a asp-controller="Product" asp-action="ProductList"  class="pull-right btn btn-linkedin bt-xs">Go To Product List <span class="btn-icon-right"><i class="mdi mdi-view-list"></i></span></a>

                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script>
//const { valHooks } = require("jquery");

        $(document).ready(function () {


            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    console.log(reader);
                    reader.onload = function (e) {
                        $('#productImage').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

  

            //get image file name  from input file
            $('input[type="file"]').change(function (e) {

                readURL(this);

                var geekss = e.target.files[0].name;
                $(".custom-file-label").text(geekss + ' is the selected file.');

            });


            //Load Size Dropdown List
            $(".size_value").click(function () {
                var val = $(this).val();

                var data =
                {
                    id: val
                }
                Load_Dropdown_with_ajax(url='@Url.Action("FindSizeByID", "Product")', method= "GET", data = data, dataType = "JSON", appendElement = ".find_Size", dropdownName = "Size")

            });



            $(".find_Brand").change(function () {

                var val = $(this).find(":selected").val();
                if (val == "" || val === undefined)
                {
                    alert("There Is Something in Brand Dropdown List wrong Please Chcek")
                    return;
                }

                //for passing json data to ajax call
                data = {
                    brandid: val
                }

                Load_Dropdown_with_ajax(url='@Url.Action("FindModelByBrandID", "Product")', method= "GET", data = data, dataType = "JSON", appendElement = ".find_Model", dropdownName = "Model")

            })


            $(".find_Category").change(function () {

                var val = $(this).find(":selected").val();;
                if (val == "" || val === undefined)
                {
                    alert("There Is Something in category Dropdown List wrong Please Chcek")
                    return;
                }
                var data = {
                     catid: val
                }

                Load_Dropdown_with_ajax(url='@Url.Action("FindBrandByCategoryId","Product")', method="GET", data = data, dataType = "Json", appendElement = ".find_Brand", dropdownName = "Brand")

            }) //end of .find_Category click event


            function Load_Dropdown_with_ajax(url, method, data, dataType, appendElement, dropdownName) {

                $.ajax({
                    url: url,
                    method: method,
                    data: data,
                    dataType: dataType,
                    success: function (data)
                    {


                        $(appendElement).empty();

                        $(appendElement).append('<option value="-1">Select ' + dropdownName + '</option>');

                        if (data.success == true) {
                            console.log(data.output)
                                $.each(data.output, function (index, item) {

                                    if (dropdownName.toLocaleLowerCase() == "brand".toLocaleLowerCase()) {
                                      var option = '<option value="' + item.id + '">' + item.brandName + '</option>'
                                    $(appendElement).append(option);
                                    }

                                    else if (dropdownName.toLocaleLowerCase() == "model".toLocaleLowerCase()) {
                                        var option = '<option value="' + item.id + '">' + item.modelName + '</option>'

                                        $(appendElement).append(option);
                                    }

                                    else if (dropdownName.toLocaleLowerCase() == "Size".toLocaleLowerCase()) {
                                        var option = '<option value="' + item.id + '">' + item.productSize + '</option>'

                                        $(appendElement).append(option);
                                    }

                                })



                        }
                        else {
                            alert("Data Not Found In Database")

                        }
                    },
                    error: function (err)
                    {
                        alert("You Call Error Functioon");
                    }
                })

            }


        }) //end of document.ready

    </script>


}